
table tr td
{
   :https://zhongyanlin.github.io/site/wywgcss/editcss.css;
   color:red;
   background:"D:\Github\website\屏幕截图 2023-12-20 003945.png"
   font-family:Tahoma,Geneva,sans-serif;
   font-size:90px;
   font-weight:352
}
